/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #15064b;
    color: rgb(212, 212, 212);
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.boton-calcular{
    margin-left: 50px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.wrapper{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}
